.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

  .sairv-logo-rounded{
    border-radius: 100%;
}

.navbar-buttons{
    font-weight: bold;
}


.sairv-logo-size{
    height: 150px;
    width: 150px;
}

.navbar {
    padding: 0.5rem 1rem;
    position: relative;
  }

  
  .navbar-toggler {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    align-items: center;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-buttons {
    margin: 0;
  }
  
  .rounded-border-navbar{
    border-radius: 32px;
}

.container-fluid-start {
  display: flex;
  flex-direction: column;
  justify-content: between;
  align-items: center;
}

@media (min-width: 992px) {
  .container-fluid-start {
      align-items: flex-start; /* Alinea a la izquierda en pantallas grandes y mayores */
      text-align: left; /* Alinea el texto a la izquierda en pantallas grandes y mayores */
  }
}
.card-services-color{
    background: linear-gradient(70deg,#161616, #21558F)
    ;
    border-color: transparent;
  }

.navbar-gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(33,85,143,1) 60%, rgb(20, 20, 20) 100%);}  

    .contenedor-principal {
        background-image: url('../imagenes/header\ -\ Copy.jpg');
      
        background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
        background-position: right center;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Alinea el contenedor hijo a la izquierda */
        max-width: 1920px;
        min-height: 500px;
        width: 100%;
        box-sizing: border-box; 
        border-radius: 22px;
      }
      
      .contenedor-transparente {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        color: white;
        width: 50%;
        text-align: center;
        border-radius: 16px;
      }
      
      @media (max-width: 768px) {
        .contenedor-transparente {
            width: 100%; /* El contenedor hijo ocupa el 100% del contenedor padre en dispositivos móviles */
        }
      }

      .navbar-aliados {
        background-color: #333;
        padding: 10px;
    }
    
    .nav-list-aliados {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Center items on large screens */
        gap: 20px; /* Space between items */
    }
    
    .nav-item-aliados {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        transition: background-color 0.3s;
    }
    
    .nav-item:hover {
        background-color: #555;
        border-radius: 16px;
    }
    
    /* Responsive adjustments */
    @media (max-width: 992px) { /* For md screens and below */
        .nav-list-aliados {
            flex-direction: row;
            justify-content: flex-end; /* Align items to the right */
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    
        .nav-item-aliados {
            flex: 0 0 auto;
        }
    }

    @media (max-width: 768px) {
      .imagenes-aliados {
        width: 80px;
        height: 80px; /* disminuye el tamanio de los iconos de ONU SEP ETC en pantallas grandes*/
      }
    }

    @media (min-width: 770px) {
      .imagenes-aliados {
        width: 100px;
        height: 100px; 
      }
    }

    @media (min-width: 850px) {
      .imagenes-aliados {
        width: 120px;
        height: 120px; 
      }
    }

    @media (min-width: 920px) {
      .imagenes-aliados {
        width: 150px;
        height: 150px; /* Aumenta el tamanio de los iconos de ONU SEP ETC en pantallas grandes*/
      }
    }


.titles-style{
    font-weight: bold;
}

.rounded-border-card{
    border-radius: 22px;
}

.rounded-border-content{
    border-radius: 16px;
}

.navbar-margin{
    margin-top: 50px;
}

.cards-buttons{
    border-radius: 16px;
    background-color: #21558F;
    
}

.service-image-size{
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    width: 100px;
}